*{
    padding: 0;
    margin: 0;
    font-family: arial;
    list-style-type: none;
    text-decoration: none;
}

.case, a, button  {
    cursor: pointer;
}

/*NAV BARRE*/
nav {
    background-color: white;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

nav a {
    width: 180px;
    display: inline-block;
}

nav a:first-child {
    margin-right: 80%;
}

nav img {
    width: 100%;
    height: 50px;
}

nav p {
    margin-bottom: 0;
}

/*HEADER*/
header {
    height: 500px;
    width: 100%;
    background-image: url("/img/img-header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header div {
    width: 40%;
    margin: auto;
    padding-top: 5%;
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 25px;
    font-size: 55px;
}

header p {
    margin-bottom: 50px;
    font-size: 25px;
}

button {
    background-color: #3BB895;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    border: none;
}

/*2ème nav */
#nd-nav {
    width: 100%;
    height: 115px;
    background-color: #27334E;
    color: white;
    font-weight: bold;
}

#center {
    margin: auto;
    width: 75%;
    height: 115px;
    justify-content: center;
}

.case, #center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.case:hover img {
    filter: brightness(500%);
}

.case img {
    margin-right: 15px;
}

.case {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}

.case p {
    width: 150px;
}

.case:focus img {
    filter: brightness(500%);
}

/*color*/

.case:focus:first-child {
    background-color: #B3D84B;
}
.case:hover:first-child {
    background-color: #B3D84B;
}


.case:focus:nth-child(2) {
    background-color: #FF7B7B;
}
.case:hover:nth-child(2) {
    background-color: #FF7B7B;
}

.case:focus:nth-child(3) {
    background-color: #7BD0FF;
}
.case:hover:nth-child(3) {
    background-color: #7BD0FF;
}


.case:focus:nth-child(4) {
    background-color: #D8B94B;
}
.case:hover:nth-child(4) {
    background-color: #D8B94B;
}

.case:focus:nth-child(5) {
    background-color: #C291FF;
}
.case:hover:nth-child(5) {
    background-color: #C291FF;
}

/*PAGE*/
#page1 {
    height: 500px;
}

/*MAIN SECTION*/
#main-section {
    background-color: #27334E;
    height: 700px;
}

#main-section, #main-section div:last-child {
    display: flex;
    flex-direction: row;
}

#main-section div:first-child {
    width: 40%;
    padding: 100px;
    color: white;
    font-size: 25px;
}

#main-section p, #main-section div:first-child img {
    margin-bottom: 35px;
}

#main-section div:first-child img {
    width: 60%;
    height: 100px;
}

#main-section div:nth-child(2) {
    width: 60%;
    justify-content: center;
    align-items: center;
}

#main-section div:nth-child(2) img {
    width: 80%;
}

/*FOOTER*/
footer {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}





